<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bijumondal.doctorhealthcare">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".activities.MedicineListActivity"></activity>
        <activity android:name=".activities.AddPrescriptionsActivity" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".activities.BookingSuccessfulActivity" />
        <activity android:name=".activities.SetTimingsActivity" />
        <activity android:name=".activities.SetHolidaysActivity" />
        <activity android:name=".activities.BookingActivity" />
        <activity android:name=".activities.HospitalListActivity" />
        <activity android:name=".activities.CreateDoctorProfileActivity" />
        <activity android:name=".activities.DoctorListActivity" />
        <activity android:name=".activities.DoctorDepartmentActivity" />
        <activity android:name=".activities.UpdateDoctorProfileActivity" />
        <activity android:name=".activities.UpdatePatientProfileActivity" />
        <activity android:name=".activities.MyPrescriptionsActivity" />
        <activity android:name=".activities.DoctorProfileActivity" />
        <activity android:name=".activities.MyAppointmentsActivity" />
        <activity android:name=".activities.PatientProfileActivity" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>